<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <brocode_imageoptimizer>
            <general>
                <cron_enabled>1</cron_enabled>
            </general>
        </brocode_imageoptimizer>
    </default>
</config>
